<nav class="nav-container">
  <div class="nav-brand">
    <a [routerLink]="['/']">HyRe</a>
  </div>
  <ul class="nav-links">
    <li><a [routerLink]="['/']" [routerLinkActive]="['pico-active']" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    @if (isAuthenticated$ | async) {
      <li><a [routerLink]="['/requisitions']" [routerLinkActive]="['pico-active']">Requisitions</a></li>
      <li><a [routerLink]="['/candidates']" [routerLinkActive]="['pico-active']">Candidates</a></li>
      <li><a [routerLink]="['/interviewer']" [routerLinkActive]="['pico-active']">Interviews</a></li>
    }
  </ul>
  <div class="nav-actions">
    @if (isAuthenticated$ | async) {
      <li><app-theme-toggle /></li>
      <li><a (click)="logout($event)" class="logout-link">Logout</a></li>
    } @else {
      <li><a [routerLink]="['/login']" [routerLinkActive]="['pico-active']">Log in</a></li>
      <li><a [routerLink]="['/register']" [routerLinkActive]="['pico-active']">Register</a></li>
      <li><app-theme-toggle /></li>
    }
  </div>
</nav>
